<h1 class="site-heading-upper text-primary">Editing Competition</h1>

<%= render 'form', competition: @competition %>

<%= link_to "New Challenge", new_challenge_path(competition_id: @competition), class: "start_new", remote: true %>

<div class="table-responsive-md">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
      <th scope="col">Per</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @competition.challenges.each do |challenge| %>
        <%= render 'challenges/challenge', challenge: challenge %>
    <% end %>
  </tbody>
</table>
</div>
<br>


