<h1 class="site-heading-upper text-primary text-center"><%= @competition.name %></h1>
<ul class="list-group">
  <% @competition.challenges.each do |challenge| %>
    <% events = challenge.events.where(user_id: current_user.id) %>
    <% tot_pts = events.inject(0){|x,event| event.value + x} %>
    <%= render partial: 'challink', locals: {challenge: challenge, total: tot_pts}%>
  <% end %>
</ul>
<br>

<div class="table-responsive-md">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Performed</th>
      <th scope="col">Value</th>
      <th scope="col">Date Entered</th>
    </tr>
  </thead>
  <tbody>
    <% @competition.events.where(user_id: current_user.id).each do |event| %>
        <%= render 'event', event: event %>
    <% end %>
  </tbody>
</table>
</div>
<br>
