.well{
  background-color: rgba(0,0,0, 0.75); // I don't know the .well color, so I used white as example
  padding: 5px 5px 5px 5px;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
